:root {
    font-size: 16px;
}


* {
    color: aliceblue;
    font-family: Gotham;
    user-select: none !important;
    -webkit-user-select: none;  /* Safari/Chrome */
    -ms-user-select: none;      /* IE/Edge */
    -webkit-touch-callout: none;  /* iOS Safari */
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    touch-action: manipulation;
    user-select: none;                  
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    box-sizing: border-box;
    width: 100vw;
}

#camera {
    border-radius: .625rem;
    order: 2;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/Gotham-Medium.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Martian Mono";
    src: url("fonts/MartianMono-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans Symbols 2";
    src: url("fonts/NotoSansSymbols2-Regular.ttf");
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}

@font-face {
    font-family: "Symbola";
    src: url("fonts/Symbola-AjYx.ttf");
}


header {
    background-color: #231f21;
    box-sizing: border-box;
    width: 100vw;
    height: 4.5rem;
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    background-color: #231f21;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
}

button {
    font-family: Symbola, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #f58539;
    color: white;
    border-color: #f58539;
    border-width: .3125rem;
    border-radius: .625rem;
    padding: .3125rem;
    width: 5rem;
    height: 5rem;
    user-select: none !important;
    -webkit-user-select: none;  /* Safari/Chrome */
    -ms-user-select: none;      /* IE/Edge */
    -webkit-touch-callout: none;  /* iOS Safari */
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* button:hover {
    transform: scale(1.03);
} */

#moveContainer button {
    font-size: 3rem;
    font-weight: 900;

}

#moveContainer {
    box-sizing: border-box;
    width: 29.5rem;
    height: 20rem;
    padding: 1.25rem;
    padding-top: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr 1fr;
    gap: .5rem;

    grid-template-areas:
        "k k k k k"
        "t q w e r"
        "t a s d r"
        "t z x c r";

    background-color: #231f21;
    border-radius: 3.125rem;
}

/* #w {
    grid-column: 2: 
} */

#fwdBtn {
    grid-area: w;
}

#lBtn {
    grid-area: a;
}

#revBtn {
    grid-area: x;
}

#rBtn {
    grid-area: d;
}

#fwdlBtn {
    grid-area: q;
}

#fwdrBtn {
    grid-area: e;
}

#revlBtn {
    grid-area: z;
}

#revrBtn {
    grid-area: c;
}

#cw {
    grid-area: r;
    height: 16rem;
    border-radius: .625rem 5rem 5rem .625rem;
    font-family: "DejaVu Sans", Symbola, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#ccw {
    grid-area: t;
    height: 16rem;
    border-radius: 5rem .625rem .625rem 5rem;
    font-family: "DejaVu Sans", Symbola, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#move {
    grid-area: k;
    margin: auto;
    
}

button:active, button.active {
    background-color: #feb73e;
    border-color: #feb73e;
}

button:focus {
    outline: none;
}



#fast {
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif !important;
    font-size: 1.3rem !important;
    font-weight: 200;
    background-color: #7DA253;
    border-color: #7DA253;
}

#fast:active, #fast.active {
    background-color: #c1a0da !important;
    border-color: #c1a0da !important;
}




img {
    background-color: black;
    width: 80%;
}


#controlContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.dgnl {
    background-color: #f99d3c;
    border-color: #f99d3c;
}


#forkContainer h2 {
    text-align: center;
    margin-top: 0;
}

#forkContainer {
    margin-left: 2rem;
    box-sizing: border-box;
    width: 13rem;
    height: 20rem;
    background-color: #231f21;
    padding: 1.25rem;
    padding-top: .5rem;
    display: grid;

    background-color: #231f21;
    border-radius: 3.125rem;
}

#forkContainer button {
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
}

#p {
    grid-area: ka;
}

#o {
    grid-area: sa;
}

#upBtn {
    grid-area: ta;
}

#downBtn {
    grid-area: qa;
}

#openBtn {
    grid-area: ma;
}

#closeBtn {
    grid-area: ca;
}


footer {
    background-color: #231f21;
    padding: .5rem;
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 100vw;
}



/*
#f58539 - dark orange

#f99d3c - medium orange

#feb73e - light orange

#333333 - gray*/




/*
🢄🢀🢇🢅🢂🢆🢁🢃
↻↺

*/

@media screen and (max-width: 370px) {
    :root {
        font-size: 9px;
    }

    #camera {
        border-radius: .625rem;
        order: 1;
        width: 29.5rem;
    }

    #controlContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
    }

    #forkContainer {
        margin-top: 1.5rem;
        margin-left: 0;
        width: 29.5rem;

        grid-template-columns: .75rem 5rem 5rem 2.5rem 5rem 5rem;
        grid-template-rows: .2fr 1.625rem 5rem;
        gap: .5rem;

        grid-template-areas:
            "va ua ya ma ta ra"
            "va ea ea ma ba ba"
            "va xa ka ma qa wa";

        background-color: #231f21;
        border-radius: 3.125rem;
        order: 3;
    }

    /* #forkContainer * {
        display: none;
    } */
    #p {
        grid-area: ea;
    }
    #o {
        grid-area: ba;
    }
    #upBtn {
        grid-area: xa;
    }
    #downBtn {
        grid-area: ka;
    }
    #openBtn {
        grid-area: qa;
    }
    #closeBtn {
        grid-area: wa;
    }
}




@media screen and (min-width: 370px) and (max-width: 550px) {
    :root {
        font-size: 12px;
    }

    #camera {
        border-radius: .625rem;
        order: 1;
        width: 29.5rem;
    }

    #controlContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
    }

    #forkContainer {
        margin-top: 1.5rem;
        margin-left: 0;
        width: 29.5rem;

        grid-template-columns: .75rem 5rem 5rem 2.5rem 5rem 5rem;
        grid-template-rows: .2fr 1.625rem 5rem;
        gap: .5rem;

        grid-template-areas:
            "va ua ya ma ta ra"
            "va ea ea ma ba ba"
            "va xa ka ma qa wa";

        background-color: #231f21;
        border-radius: 3.125rem;
        order: 3;
    }

    /* #forkContainer * {
        display: none;
    } */
    #p {
        grid-area: ea;
    }
    #o {
        grid-area: ba;
    }
    #upBtn {
        grid-area: xa;
    }
    #downBtn {
        grid-area: ka;
    }
    #openBtn {
        grid-area: qa;
    }
    #closeBtn {
        grid-area: wa;
    }
}

@media screen and (min-width: 550px) and (max-width: 750px) {
    :root {
        font-size: 12px;
    }

    #camera {
        border-radius: .625rem;
        order: 1;
        width: 29.5rem;
    }

    #forkContainer {


        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr 1.625rem 5rem 1fr 1.625rem 5rem .2fr;
        gap: .5rem;

        grid-template-areas:
            "ea ea"
            "ka ka"
            "ta qa"
            "za za"
            "sa sa"
            "ma ca"
            "pa pa";

        background-color: #231f21;
        border-radius: 3.125rem;
    }
}




@media screen and (min-width: 750px) {


    #forkContainer {


        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr 1.625rem 5rem 1fr 1.625rem 5rem .2fr;
        gap: .5rem;

        grid-template-areas:
            "ea ea"
            "ka ka"
            "ta qa"
            "za za"
            "sa sa"
            "ma ca"
            "pa pa";

        background-color: #231f21;
        border-radius: 3.125rem;
        height: 20rem;
    }
}

